
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>Найдите нас!</h3>
            <nav class="footer-nav">
              <ul>
                <li><a href="https://github.com/hitsl">Github</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-6">
            <h3>Нашли опечатки? Мало информации?</h3>
            <p>
              Просто улыбнитесь или <a href="/contact/">свяжитесь с нами</a>.
            </p>
            <p class="text-muted">&copy; 2014 Высокотехнологичные решения</p>
          </div>
        </div>
      </div>
    </footer>
    {{ template "chrome/scripts.html" . }}
  </body>
</html>
