<nav class="page-nav navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/static/img/logo-small.png" width="249" height="75"></a>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="/services/" class="dropdown-toggle" data-toggle="dropdown">Услуги <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/services/">Обзор</a></li>
            <li class="divider"></li>
            <li><a href="/services/survey/">Обследование</a></li>
            <li><a href="/services/implantation/">Внедрение</a></li>
            <li><a href="/services/tuition/">Обучение</a></li>
            <li><a href="/services/maintenance/">Сопровождение</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/products/" class="dropdown-toggle" data-toggle="dropdown">Решения <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/products/">Обзор</a></li>
            <li class="divider"></li>
            <li><a href="/products/mis/">Медицинская ИС</a></li>
            <li><a href="/products/risar/">РИСАР</a></li>
            <li><a href="/products/er/">Электронная регистратура</a></li>
            <li><a href="/products/sblood/">Трансфузиология</a></li>
            <li><a href="/products/apteka/">Аптечная система</a></li>
            <li><a href="/products/pacs/">PACS</a></li>
            <li><a href="/products/lis/">ЛИС</a></li>
            <li class="divider"></li>
            <li><a href="/products/ord/">Документооборот</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/about/" class="dropdown-toggle" data-toggle="dropdown">О нас <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about/">Обзор</a></li>
            <li class="divider"></li>
            <li><a href="/about/faq/">ЧаВО</a></li>
            <li><a href="/about/hh/">Вакансии</a></li>
            <li><a >Как мы работаем</a></li>
            <li><a >Миссия</a></li>
            <li><a >История</a></li>
            <li><a >Клиенты</a></li>
          </ul>
        </li>
        <li><a href="/contact/">Контакты</a></li>
      </ul>
    </div>
  </div>
</nav>
