{{ template "chrome/header.html" . }}

  <div class="hompage-jumbotron">
    <div class="container">
      <h1>Высокотехнологичные решения</h1>
      <p class="lead">
	Активно развивающийся системный интегратор, предлагающий услуги по созданию, оптимизации и автоматизации бизнес-процессов, внедрению информационных систем, ИТ-аутсорсингу и реализации комплексных инфраструктурных проектов.        
      </p>
      <p>
        <a href="/about/" class="btn btn-default btn-lg">Узнать больше!</a>
      </p>
    </div>
  </div>

  <div class="main-content container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Услуги</h2>
        <p>
          Мы готовы предложить своим клиентам широкий спектр ИТ-решений в сфере комплексной автоматизации различных сфер бизнеса.
        </p>
        <p><a href="/services/" class="btn btn-primary">Узнать больше</a></p>
      </div>
      <div class="col-sm-4">
        <h2>Решения</h2>
        <p>
	  Имеющаяся экспертиза дает нам неоспоримые преимущества в понимании основных проблем, первоочередных и перспективных задач автоматизации бизнеса.</p>
        <p><a href="/products/" class="btn btn-primary">Узнать больше</a></p>
      </div>
      <div class="col-sm-4">
        <h2>Результат</h2>
        <p>
          Наши клиенты – представители госсектора и компании среднего бизнеса, работающие в различных отраслях.
        </p>
<!--        <p><a href="/clients/" class="btn btn-primary">Узнать больше</a></p> -->
      </div>
    </div>
  </div>

{{ template "chrome/footer.html" }}
